<div class="container">

  <div class="row" *ngFor="let r of filterByUser()">
    <ul class="list-group">
      <li class="list-group-item active"><strong> Foglaló neve:</strong> {{r.partner.name}}</li>
      <li class="list-group-item"><strong>Dolgozó neve:</strong> {{r.worker.name}}</li>
      <li class="list-group-item"><strong>Foglalt időpont: </strong>{{cal.getDayString(r.appointment)}}</li>
      <li class="list-group-item"><strong>Kategória: </strong>{{r.category}}</li>
      <li class="list-group-item"><strong>Megjegyzés:</strong> {{r.comment}}</li>
      <button type="button" class="btn btn-secondary">Módosítás</button>
      <button type="button" class="btn btn-secondary">Törlés</button>
      <button type="button" class="btn btn-secondary">Munkalap elkészítése</button>
    </ul>
    
  </div>

</div>