<form #f="ngForm" (ngSubmit)="submit()" (reset)="reset()">
  <h2>Új foglalás</h2>
  <mat-form-field>
    <mat-select placeholder="Dolgozó" [(ngModel)]="model.worker" required>
      <mat-option *ngFor="let w of workers" [value]="w">
        {{ w.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="notReservedDay" [matDatepicker]="picker" placeholder="Válasszon időpontot!" required>
    <mat-datepicker-toggle matSuffix [for]="picker" [(ngModel)]="model.appointment"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Kategória" [(ngModel)]="model.category" required>
      <mat-option [value]="Category.MALFUNCTION">{{ Category.MALFUNCTION }}</mat-option>
      <mat-option [value]="Category.MOT">{{ Category.MOT }}</mat-option>
      <mat-option [value]="Category.MANDATORY">{{ Category.MANDATORY }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width" [(ngModel)]="model.comment">
    <textarea matInput placeholder="Megjegyzés"></textarea>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary" [disabled]="!f.valid">Mentés</button>
  <button type="reset" mat-button>Mégse</button>
</form>

