<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">Varga-Kaunitz Autószerelő Rt.</a>
      </div>
      <ul class="nav navbar-nav" *ngIf="!userService.isLoggedIn()">
          <li class="active" *ngIf="!userService.isLoggedIn()"><a routerLink="/login">Bejelentkezés</a></li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="!userService.isLoggedIn()">
          <li class="active" *ngIf="!userService.isLoggedIn()"><a routerLink="/registration">Regisztráció</a></li>
      </ul>
      <ul class="nav navbar-nav" *ngIf="userService.isLoggedIn()">
          <li class="active"><a routerLink="/home" (click)="userService.logout()">Kijelentkezés</a></li>
          <li><a routerLink="/list">Időpontok listázása</a></li>
          <li><a routerLink="/newreservation">Új foglalás</a></li>
      </ul>
    </div>
  </nav>